pyaudio
wave
nltk # (see Issue 55 https://github.com/oss-slu/SpeechTranscription/issues/55 for instructions on installing nltk - it is more than just 'pip install nltk')
ffmpeg
ffprobe
ffprobe-python
ffmpeg-python
pydub
language-tool-python
python-docx
git+https://github.com/openai/whisper.git
sv_ttk
pattern
customtkinter
pyannote.audio
matplotlib
numpy
simple_diarizer
python-dotenv
lightning_fabric

# For testing purposes
pytest

# Not currently in use - could be used for diarization in the future
spectralcluster
Resemblyzer 