on:
  push:
    branches:
      - main
      - fix-exe
      - fix-mac-exe

jobs:
  build:
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        os: ["windows-latest", "macos-latest"]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.11
      - run: brew install mysql pkg-config portaudio
        if: ${{ matrix.os == 'macos-latest' }}
      - run: pip install -r requirements.txt pyinstaller importlib-metadata sacremoses tokenizers
      - run: pip uninstall -y typing
      - run: pyinstaller --name Saltify --windowed --noconfirm --onedir -c --copy-metadata torch --copy-metadata tqdm --copy-metadata regex --copy-metadata sacremoses --copy-metadata requests --copy-metadata packaging --copy-metadata filelock --copy-metadata numpy --copy-metadata tokenizers --copy-metadata importlib_metadata --collect-data sv_ttk --recursive-copy-metadata "openai-whisper" --collect-data whisper GUI.py
      - shell: cmd
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          robocopy build_assets dist/Saltify
          mkdir dist\Saltify\_internal\pattern\text\en\
          move dist\Saltify\en-model.slp dist\Saltify\_internal\pattern\text\en\
          mkdir dist\Saltify\_internal\lightning_fabric
          robocopy dist/Saltify/_internal/lightning dist/Saltify/_internal/lightning_fabric
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: SpeechTranscription_${{ matrix.os }}
          path: dist/Saltify/*
