name: Build SpeechTranscription (macOS)

on:
  workflow_call:
  push:
    branches:
      - main
      - fix-exe
      - testingv4artifact
      - issue169_dependency
      - issue178_build-test-failures
      - extra

jobs:
  build-macos:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - uses: actions/setup-python@v4
        with:
          python-version: 3.11.7

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}

      - name: Install Python requirements
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt pyinstaller importlib-metadata sacremoses tokenizers
          # macOS audio dependency
          pip install pyaudio
      # OPTIONAL: remove this if you do not want online downloading
    # python -m nltk.downloader punkt averaged_perceptron_tagger stopwords vader_lexicon

      - name: Initialize Git submodules
        run: git submodule update --init --recursive

      - name: Remove obsolete typing package
        run: pip uninstall -y typing || echo "typing not installed"

      - name: Build macOS App
        run: |
          pyinstaller --name Saltify \
          --windowed \
          --noconfirm \
          --onefile \
          --add-data "images:images" \
          --add-data "build_assets/en-model.slp:pattern/text/en" \
          --add-data "CTkXYFrame:CTkXYFrame" \
          --collect-data whisper \
          --collect-data lightning_fabric \
          --collect-data pytorch_lightning \
          --collect-data pyannote.audio \
          --copy-metadata torch \
          --copy-metadata tqdm \
          --copy-metadata regex \
          --copy-metadata sacremoses \
          --copy-metadata requests \
          --copy-metadata packaging \
          --copy-metadata filelock \
          --copy-metadata numpy \
          --copy-metadata tokenizers \
          --copy-metadata importlib_metadata \
          --collect-data sv_ttk \
          --hidden-import "lightning_fabric" \
          --hidden-import "torch" \
          --hidden-import "torchvision" \
          --hidden-import "pytorch_lightning" \
          --hidden-import "pyannote.audio" \
          GUI.py

      - name: Show build output
        run: ls -R dist

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: SpeechTranscription_macos
          path: dist/Saltify.app
